html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p,
form, input, div {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Avenir Next", "Hiragino Kaku Gothic ProN W3", sans-serif;
}

li {
  list-style: none;
 
}

/* ここからCSSを記述してください */
.header{
  background-color: #fcfcfc;
  color: #212121;
  height: 270px;
}

.header-logo{
  float:left;
  font-size:36px;
  padding: 100px 100px 100px 250px;
}

.header-list li{
  float:left;
  margin-left: 100px;
  padding-top:220px;
}

.insta{
    width:30px;
    height:30px;
}







.main{
  padding:100px 80px 100px 80px;
  background-color:#f1f1f1;
  height:220px;
}

.copy-container h1{
  font-size:140px;
  
}
.copy-container h2{
  font-size:60px;
}

.copy-container span{
  color:#ff4a4a;
}


/*   ここからメインの設定　*/


.section-about{
    border-bottom:2px solid #dee7ec;
    font-size:28px;
    padding-bottom:15px;
    margin-bottom: 50px;
    padding-top:130px;
    text-align: center;
    font-family: "Hiragino Kaku Gothic ProN W3";
    color:#505050;
  }

.about p{
    font-size:15px;
    padding-left:200px;
    padding-top:50px;
    font-family: "Hiragino Kaku Gothic ProN W3";
    padding-bottom:80px;
    line-height: 30px;
}

.about li{
    padding-left:440px;
    padding-bottom: 30px;
    transform: translate(40px,-160px);
}

.prof{
    width: 180px;
    padding-left:200px;

}

  




.section-title{
  border-bottom:2px solid #dee7ec;
  font-size:28px;
  padding-bottom:15px;
  margin-bottom: 50px;
  padding-top:200px;
  text-align: center;
  color:#505050;
}

.contants-item{
  
  float:left;
  padding-left:220px;
  margin-right:20px;
  text-align: center;
}

.contants-item p {
  font-size: 15px;
  margin-top: 30px;

}

.contants-item h1 {
    
    padding-bottom: 20px
  }

  



.portfolio-title{
    border-bottom:2px solid #dee7ec;
    font-size:28px;
    padding-bottom:15px;
    margin-bottom: 50px;
    padding-top:600px;
    text-align: center;
    font-family: "Hiragino Kaku Gothic ProN W3";
    color:#505050;
}


.youtube{
    transform: translate(360px,100px);
}